.center-box {
    display: grid;
    place-items: center;
}

.home-box {
    width: 500px;
    height: 300px;
    border-radius: 40px;
    background: linear-gradient(45deg, #717783, #878d9b);
    box-shadow: 14px -14px 28px #616670,
        -14px 14px 28px #9ba2b2;
    padding: 15px;
}

.btn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: var(--font-color-bright);
    border: 3px solid var(--btn-color);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--btn-color);
    -webkit-transition: all .3s;
    transition: all .3s;
    z-index: -1;
}

.btn1::before {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.btn1:hover::before {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.btn2::before {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.btn2:hover::before {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
