:root {
    --bg-color: #7e8491;
    --font-color-dark: #1c2321;
    --btn-color: #7b2d26;
    --font-color-bright: #f8f7ff;
    --grey-color: #ccc;
    --grey-color-dark: #959595;
    --grey-color-darker: #757575;
}